{{#paper-toolbar}}
<div class="md-toolbar-tools">
  <h2 flex=true>
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    Results 
  </h2>
</div>
{{/paper-toolbar}}

{{#paper-content}}
  <div class="container">
    {{#each this as |item|}}
      <div class="container">
      {{#paper-card}}
          {{#paper-card-content}}
            <h2>{{item.header}}</h2>
            <p>
              {{item.message}}
            </p>
          {{/paper-card-content}}
      {{/paper-card}}
      </div>
    {{/each}}
  </div>
{{/paper-content}}

